<main> 
{{!-- 
        {{#ifEquals inputUsername undefined}}
        
        <input type="text" id="userId" name="userId" class="less-width-input" value=""><br>

        {{else}}

        <input type="text" id="userId" name="userId" class="less-width-input" value={{post.inputUsername}}><br>

        {{/ifEquals}} --}}

<form method="POST" action="/">
    <label for="givenText">Paste the text you want proofread here:</label><br>
    <input type="text" name="givenText"><br>
    <button type="submit">Upload Text</button>
</form>

<form method="POST" enctype="multipart/form-data" action="/">
     <label for="userFile">Or upload the text file you want proofread here:</label><br>
    <input type="file" name="userFile" accept="text/plain"><br>
    <button type="submit">Upload File</button>
</form>

    {{#if hasErrors}}
    <ul class="error">
        {{#each errors}}
        <li class="errorServer">
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}

    <p>Here is where your proofreaded and grammar checked file or essay will be once it's processed:</p>
    {{#if results}}
    <div name="results" id="results">{{results}}</div>
    <button onclick="copyPaste()">Copy text</button>
    <script>
        function copyPaste() {
            var theDiv = document.getElementById('results');
            var copyText = theDiv.textContent;

            console.log(copyText);

            navigator.clipboard.writeText(copyText);

            alert("Copied the text to your clipboard!");
            }
    </script>

    {{else}}

    <div name="results" id="results"></div>

    {{/if}}

</main>