<main class="d-flex h-auto w-100 py-5" id="main-qna">
  <section
    class="d-flex flex-column justify-content-start align-content-start w-75"
    id="qna"
  >
    <div class="d-flex justify-content-between align-items-center px-3">
      <button
        type="button"
        class="btn btn-outline-secondary rounded-pill mb-2 mt-0"
        onclick="history.back()"
      ><i class="bi bi-arrow-left"></i></button>
      <h3 class="m-3" id="course-name-code">
        {{courseDisplay.courseNameDisplay}}
        -
        {{courseDisplay.courseCodeDisplay}}
      </h3>
      <button
        type="button"
        class="btn btn-outline-dark btn-md m-3 text-center fs-4 fw-lighter text-secondary rounded-pill"
        style="width: auto;"
        data-bs-toggle="modal"
        data-bs-target="#questionModal"
        title="Add Question"
      ><i class="bi bi-plus"></i></button>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="questionModal"
      tabindex="-1"
      aria-labelledby="questionModalLabel"
      aria-hidden="true"
      aria-modal="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="questionModalLabel">Create Post</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="question-title" class="form-label">Question</label>
              <input
                type="text"
                class="form-control"
                id="question-title"
                placeholder="Question?"
              />
            </div>
            <div class="mb-3">
              <label
                for="question-description"
                class="form-label"
              >Description</label>
              <textarea
                class="form-control"
                id="question-description"
                rows="3"
                placeholder="Breifly Describe Your Question...."
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              id="add-question"
            >POST</button>
          </div>
        </div>
      </div>
    </div>
    {{#if questionsData}}
      {{#each questionsData}}
        <div class="border border-start-0 border-end-0 m-3">
          <div class="card m-4 border-0 mx-2 my-4">
            <div
              class="card-header border-0 d-flex justify-content-between align-items-center"
              id="question-user-name"
            >
              <h5
                class="align-content-start text-uppercase"
                id="questionUserId"
              >{{userId}}</h5>
              <div class="d-flex gap-2" id="del-edit-container">
                <button
                  class="btn btn-outline-danger btn-sm"
                  id="delete-btn"
                >DEL</button>
                <button
                  class="btn btn-outline-warning btn-sm"
                  id="edit-btn"
                >EDIT</button>
              </div>
            </div>
            <div
              class="card-body p-4"
              id="q-id"
              data-question-id="{{questionId}}"
            >
              <h5 class="card-title" id="question">{{title}}</h5>
              <p class="card-text" id="question-description">{{description}}</p>
              <p class="" id="question-creation-date">{{createdAt}}</p>
              <a
                href="/qna/ans/{{questionId}}/{{userId}}"
                class="btn btn-outline-primary rounded-pill p-1"
                id="ans-btn"
              >
                Answers
              </a>
              <button
                class="btn btn-outline-secondary rounded-pill p-1"
                title="Me too"
                aria-pressed="false"
                id="me-too"
              >
                <i class="bi bi-person-raised-hand"></i>
                <span id="me-too-count">{{meTooCount}}</span>
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div>No questions found for this course...</div>
    {{/if}}

  </section>
  <section class="d-flex flex-column gap-3 p-5 w-25" id="qna-course-list">
    {{#each coursesData}}
      <a
        class="btn btn-outline-primary"
        href="/qna/questions/{{courseCode}}/{{courseName}}"
        type="button"
      >{{this.courseName}}</a>
    {{/each}}
  </section>
</main>
<script type="module" src="/public/js/questions.js"></script>